section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form div label {
  margin-right: 1rem;
  font-size: 18px;
}

form div {
  margin-bottom: 1rem;
}

.text-area {
  display: flex;
  flex-direction: column;
}
